<p-growl [(value)]="sentEmailMessage"></p-growl>
<div class="col-xs-offset-4 col-xs-4 register-page">
  <div class="form-group col-xs-12">
    <label>Email</label>
    <input id="register_email" #emailId='ngModel' name="emailId" [(ngModel)]="email" class="form-control" type="text" placeholder="Email"
      required>
  </div>

  <div class="modal-footer">
    <div>
      <button type="button" (click)="ForgotPassowrd()" class="btn btn-primary btn-lg btn-block">Send Password</button>
    </div>
    <div class="form-group col-xs-12">
      <button id="register_login_btn" type="button"  (click)="LoginPage()" class="btn btn-link">Log In</button>
    </div>
  </div>
</div>
