<layout></layout>
<div class="banner">
  <div class="container">
  </div>
</div>


<div>
  When XYZ came across a WHO report indicating that up to 30% of the fake medicines sold across the world came from India, he decided to study the Indian pharma retail market and sensed an opportunity to make a difference. He envisioned a company that would source all its medicines from reliable, big name suppliers, store medicines in optimal conditions to ensure their efficacy and take the risk out of buying medicines, give customers convenience to buy their medicines and value for their money.. The result was MedPlus.
The first Saini pharmacy store opened in February 2010 in Amritsar and over the last decade has grown into the second largest pharmacy retail chain in the country with over 1400+ pharmacies throughout India. Medplus today serves over 2,50,000 customers daily and employs over 10,000 people.
Our online pharmacy & general store launched in 2017 has quickly grown to become the biggest e-Pharmacy in the country today. Through MedPlusMart, customers can buy medicines, OTC products, FMCG and nutrition products from the convenience of their home or through mobile, read important information about medicines, store their health records, view their prescription history and redeem rewards.
We have come far but will continue to strive to improve ourselves everyday and aspire to be India's favourite healthcare provider with the highest standards of service excellence.
</div>

<img src="/assets/images/me.jpg" title="lovepreet"  alt="lovepreet image" style="width:304px;height:228px;">

